.admin-buttons {
  display: flex;
  justify-content: space-evenly;
}

.modal-body {
  width: 30vw;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: large;
}
