.navbar {
 box-shadow: 0px 0px 5px 0px black;
}

.logo {
    height: 80px;
}

.auth-button {    
    background-color: #3b5998;
    color: white;
    border: 1px solid black;
    padding: 5px;
}

.fa-facebook {
    margin-right: 5px;  
}