/* Had to use this custom becuase I don't want bulma's navbar */
.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 11;
  top: 10px;
  width: 100%;
}

.navbar-searchfield {
  background-color: transparent;
  border: none;
  color: black;
  margin-left: 10px;
}

.navbar-logo {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.navbar-custom-menu {
  display: flex;
  justify-content: space-around;
}

.navbar-custom-menuitem {
  font-size: 18px;
  color: black;
  padding-right: 20px;
}

.navbar-overlay {
  height: 300px;
  position: absolute;
  top: 0px;
  z-index: 9;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.navbar-background {
  height: 200px;
  position: absolute;
  top: 0px;
  z-index: 10;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.navbar-logo {
  justify-content: center;
  align-content: center;
}

.logo {
  height: 100%;
}

.auth-button {
  background-color: #3b5998;
  color: white;
  border: 1px solid black;
  padding: 5px;
}

.fa-facebook {
  margin-right: 5px;
}

.avatar-pic {
  border-radius: 50%;
}

.avatar-text {
  display: inline-block;
}

.navbar {
  min-height: 4.75rem;
}
