.navbar {
 box-shadow: 0px 0px 5px 0px black;
}

.logo {
    height: 100%;
}

.auth-button {    
    background-color: #3b5998;
    color: white;
    border: 1px solid black;
    padding: 5px;
}

.fa-facebook {
    margin-right: 5px;  
}

.avatar-pic {
    border-radius: 50%;
}

.avatar-text {
    display: inline-block;

}

.navbar {
    min-height: 4.75rem;
}