.item-list {
  /* width: 93%;
    margin: 0 auto;
    margin-top: -3vw;
    padding: 1.45833vw 0;
    background-color: white;
    position: relative;
    display: flex;     */

  position: absolute;
  z-index: 11;
  bottom: 0px;
  height: 100px;
  /* color: #fff;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.6); */
  width: 100%;
  display: flex;
  justify-content: space-around;
}
