.popup_inner {
  padding: 0.3vh;
  width: 15vw;
  /* height: 50vh; */
  background: white;
  display: flex;
  flex-direction: column;
}

.category_image{
  position: flex;
  width: 15vh;
  height: 15vh;
}
