body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif !important;
  height: 100%;
  background-color: gainsboro;
}

input {
  font-family: "Raleway", sans-serif !important;
}

html {
  height: 100%;
}

::-webkit-input-placeholder {
  color: black;
  font-weight: bold;
  text-shadow: 11px 11px 11px rgba(0, 0, 0, 0);
}

input:focus {
  outline: none;
}

textarea {
  resize: none !important;
}
